/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  background-color: #ededed;
  color: #4c4c4c;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  position: relative;
}
section{
  width: 100%;
	margin-top: 130px;
}
section::after{
	clear: both;
	display: block;
	content: "";
}
.container{
	max-width: 1980px;
	width: 85%;
	display: block;
	margin: auto;
}


/* Header */

header{
	background-color: #dddddd;
	height: 75px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;
}
.header{
	padding-top: 15px;
	z-index: 500;
}
.header-logo{
	width: 29%;
}
.header-menu{
	width: 70%;
}
.header-logo, .header-menu{
	vertical-align: middle;
}
.links.clearfix {
  text-align: right;
}
.header-menu li {
  display: inline-block;
  margin-left: 25px;
}
.header-menu li a{
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #1d1d1d;
	font-size: 15px;
}
.header-menu li a:hover{
	border-bottom: 2px solid;
}
.header-menu li .active{
	color: #fb923a;
	border-bottom: 2px solid #fb923a;
}
.header-menu li .active:hover{
	color: #fb923a;
	border-bottom: 2px solid #fb923a;
}
.header-button{
	display: none;
}
.header-button a{
	float: right !important;
}
.header-button-filter{
	float: left;
	display: block;
	width: 30px;
	height: 30px;
	background-image: url('../img/filter.png');
	background-position: 0 0;
	text-indent: -5000px;
}
.header-button .header-button-menu{
	width: 30px;
	height: 30px;
	background-image: url('../img/menu.png');
	background-position: 0 0;
	text-indent: -5000px;
}
header h1{
	visibility: hidden;
	height: 0px;
}
.header-logo img{
	width: 50px;
}
.header-logo, .header-menu{
	display: inline-block;
}


/* Contenu Homepage */

.views-field-view-node, .views-field-field-project-title, .views-field-field-project-tags{
	display: none;
}
.views-field.views-field-field-project-highlight {
    padding: 0 3% 6%;
}
.views-row {
    display: inline-block;
    width: 33%;
}
.project-info {
    background-color: white;
    height: 100%;
    position: absolute;
    top: -100%;
    width: 100%;
		transition: 0.3s;
		z-index: 250;
		text-align: center;
}
.project-info h2{
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}
.project-info span{
	color: #a0a0a0;
	text-transform: uppercase;
	font-family: "montserrat", sans-serif;
	font-size: 13px;
}
.project-info-border{
	background-color: #fb923a;
  display: block;
  height: 2px;
  margin: 20px auto auto;
  width: 35px;
}
.project-link {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.project-link a{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
	text-indent: -5000px;
}
.field-content {
    overflow: hidden;
    position: relative;
}
.field-content img {
	position: relative;
	top: 0;
	width: 100%;
	transition: 0.3s;
	height: auto;
}
.field-content:hover .project-info{
	top:-2% !important;
}
.views-field-field-project-highlight:hover .field-content img{
	top: 100% !important;
	-webkit-transform: translate3d(0px, 105%, 0px);
}

/* Contact */

.block.block-colorized-gmap.contextual-links-region {
    margin-top: 35px;
}
.colorized-gmap-common {
    width: 100%;
		height: 350px;
}
#block-block-1{
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
}
#block-block-1::after{
	display: block;
	clear: both;
	content: "";
}
#block-block-1 ul{
	margin-top: 50px;
	display: block;
	text-align: center;
}
#block-block-1 li{
	float: left;
	width: 33.33%;
	font-weight: lighter;
}
#block-block-1 span{
	background-position: center bottom;
  background-repeat: no-repeat;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 50px;
  text-align: center;
}
#block-block-1 .contact-num span{
	background-image: url('../img/phone.png');
}
#block-block-1 .contact-email span{
	background-image: url('../img/email.png');
}
#block-block-1 .contact-add span{
	background-image: url('../img/address.png');
}
#block-block-1 > h2, .webform h2 {
  font-family: "montserrat";
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
.webform h2{
	margin-bottom: 50px;
}
.formulaire, .formulaire-intro{
	display: inline-block;;
	width: 49%;
	vertical-align: middle;
}
.formulaire-intro-txt{
	vertical-align: middle;
	height: auto;
	display: block;
	margin: auto;
	width: 50%;
}
.form-intro {
    color: #fb923a;
    margin-bottom: 15px;
		font-size: 16px !important;
}
.formulaire-intro p {
    font-family: "montserrat",sans-serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
}
.webform-component--nom, .webform-component--prenom {
    display: inline-block;
    width: 49%;
}
.webform-component--Email{
	width: 100%;
}
.webform-component--message{
	width: 90%;
}
.webform-component--nom .form-text, .webform-component--prenom .form-text{
	width: 80%;
	padding: 6px;
}
.webform-component--Email .form-text{
	width: 89%;
	padding: 6px;
}
.form-textarea-wrapper.resizable.textarea-processed.resizable-textarea{
	margin-right: -6px;
}
.form-item.webform-component.webform-component-email.webform-component--Email {
    margin-top: -5px;
}
.formulaire input, .formulaire textarea{
	border: 1px solid #e9e9e9;
}
.formulaire label{
	color: #4c4c4c;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
}
.webform-submit.button-primary.form-submit {
    background-color: #fb923a;
    padding: 8px 15px;
		color: white;
		cursor: pointer;
		border: none;
		text-transform: uppercase;
		font-family: "Montserrat", sans-serif;
		transition: 0.3s;
}
.webform-submit.button-primary.form-submit:hover {
    background-color: #fb926b;
}


/* Project */

.project-banner-img{
	width: 100%;
	height: 250px;
}
.project-infos {
    margin-top: 30px;
		margin-bottom: 50px;
}
.project-infos::after {
    clear: both;
    content: "";
    display: block;
}
.project-infos div {
    display: block;
    float: left;
    margin: auto;
    width: 33.33%;
}
.project-infos h2, .project-description h2{
	padding: 15px 0px;
	margin-bottom: 15px;
	border-bottom: 1px solid #dddddd;
	width: 75%;
}
.project-infos span{
	font-family: 'Roboto';
	font-weight: lighter;
}
.project-images{
	width: 40%;
	display: inline-block;
}
.project-images img{
	width: 100%;
}
.project-description{
	width: 59%;
	display: inline-block;
}
.project-description, .project-images{
	vertical-align: top;
}
.project-desc-div{
	padding: 0px 25px;
}
.project-description p{
	font-family: "Roboto";
	font-weight: lighter;
}
.project-link-extern {
  padding: 25px;
}
.project-link-extern a{
	background-color: #fb923a;
	padding: 8px 15px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
}
.project-infos h2 {
    padding-left: 25px;
    position: relative;
}
.project-infos img {
    left: 0;
    position: absolute;
    top: 23px;
}


/* About */

.about-image{
	width: 40%;
	display: inline-block;
}
.about-image img{
	width: 100%;
}
.about-desc{
	width: 59%;
	display: inline-block;
}
.about-desc-div{
	padding-left: 30px;
}
.about-desc, .about-image{
	vertical-align: middle;
}
.about-desc h2{
	text-transform: uppercase;
}
.about-desc p{
	margin-top: 25px;
	font-family: "Roboto";
	font-weight: lighter;
}
.about-skills{
	margin-top: 50px;
}
.about-skills ul{
	text-align: center;
}
.about-skills li{
	display: inline-block;
	width: 15%;
	font-family: "Roboto";
	font-size: 15px;
	margin-top: 15px;
}


/* Menu Hamburger */

.header-hb {
  background-color: #202020;
  height: 2500px;
  left: -75%;
  position: absolute;
  top: 75px;
  width: 75%;
	z-index: 500;
}
.header-hb li {
  padding: 12px;
  text-align: center;
}
.header-hb .active {
  background-color: #303030;
}
.header-hb li:hover{
	background-color: #303030;
}
.header-hb li a {
	color: #dddddd;
	text-decoration: none;
}
.header-hb ul {
  margin-top: 50px;
  width: 100%;
}
.header-hb-nav li a{
	padding: 12px 39%;
}
.header-hb .social li {
  margin: 5px;
}
.header-hb .social ul {
    margin-top: 185px;
}
.body-black{
	display: none;
	position: fixed;
	top: 122px;
	left: 0;
	z-index: 450;
	width: 100%;
	height: 1500px;
	background-color: rgba(0, 0, 0, 0.8);
}


/* Footer */

footer{
	background-color: #202020;
	padding-bottom: 30px;
	padding-top: 50px;
	margin-top: 30px;
	width: 100%;
	height: 180px;
}
footer p{
	text-align: center;
	font-family: "Helvetica Neue", sans-serif;
	color: #7d7d7d;
	font-weight: lighter;
	font-size: 14px;
}
footer p span{
	color: #4c4c4c;
}
footer a{
	color: #fb923a;
}
footer a:hover{
	text-decoration: none;
}
.social{
	display: block;
	width: 100%;
	padding-bottom: 30px;
}
.social::after{
	clear: both;
	display: block;
	content: "";
}
.social ul{
	text-align: center;
}
.social li{
	display: inline-block;
	text-align: center;
	margin: 20px;
}
.facebook a{
	display: block;
	width: 25px;
	height: 25px;
	background-image: url('../img/social-icon.png');
	background-position: 0 0;
	text-indent: -5000px;
	transition: 0.2s all;
}
.twitter a{
	display: block;
	width: 25px;
	height: 25px;
	background-image: url('../img/social-icon.png');
	background-position: -25px 0;
	text-indent: -5000px;
	transition: 0.2s all;
}
.github a{
	display: block;
	width: 25px;
	height: 25px;
	background-image: url('../img/social-icon.png');
	background-position: -50px 0;
	text-indent: -5000px;
	transition: 0.2s all;
}
.linkedin a{
	display: block;
	width: 25px;
	height: 25px;
	background-image: url('../img/social-icon.png');
	background-position: -75px 0;
	text-indent: -5000px;
	transition: 0.2s all;
}
.facebook a:hover{
	background-position: 0 25px;
}
.twitter a:hover{
	background-position: -25px 25px;
}
.github a:hover{
	background-position: -50px 25px;
}
.linkedin a:hover{
	background-position: -75px 25px;
}


/* Responsive */

@media screen and (max-width: 1029px) {
  /* Homepage */
	.views-row {
    width: 32%;
	}
}
@media screen and (max-width: 1000px) {
  /* About page */
	.about-skills li {
    width: 32.5%;
	}
}
@media screen and (max-width: 900px) {
  /* Contact page */
	.formulaire, .formulaire-intro {
    display: block;
    width: 100%;
	}
	.formulaire-intro-txt {
    margin: auto auto 25px;
    width: 85%;
	}
	.webform-component--nom .form-text, .webform-component--prenom .form-text {
    padding: 6px;
    width: 95%;
	}
	.webform-component--Email .form-text {
    padding: 6px;
    width: 96.5%;
	}
	.form-textarea-wrapper textarea {
    box-sizing: border-box;
    display: block;
    margin: 0;
    width: 108.5%;
	}
}
@media screen and (max-width: 768px) {
  /* Homepage */
	.container {
    width: 90%;
	}
	.views-row {
    width: 49%;
	}
	/* Project */
	.project-description {
    width: 69%;
	}
	.project-images {
		width: 30%;
	}
}
@media screen and (max-width: 600px) {
  /* Homepage */
	.portfolio-container .isotope-element{
		width: 50%;
	}
	/* Project */
	.project-images, .project-description{
		width: 100%;
		display: block;
	}
	.project-desc-div{
		padding: 0px;
	}
	/* About page */
	.about-image, .about-desc{
		width: 100%;
		display: block;
	}
	.about-desc{
		margin-top: 15px;
	}
	.about-desc-div{
		padding: 0px;
	}
}
@media screen and (max-width: 545px) {
  /* Homepage */
	.header-logo {
    width: 11%;
	}
	.header-menu {
    width: 86%;
	}
	.project-infos div {
			display: block;
			width: 100%;
	}
	.project-client, .project-date {
    margin-top: 15px !important;
	}
	/* Contact page */
	#block-block-1 li {
    font-size: 13px;
	}
}
@media screen and (max-width: 500px) {
  /* Menu */
	.header-menu{
		display: none;
	}
	.header-button{
		display: inline-block;
	}
	.header-button, .header-logo {
	  vertical-align: middle;
	}
	.header-button {
	  width: 87%;
	}
}
@media screen and (max-width: 400px) {
  /* Contact page */
	#block-block-1 li {
		font-size: 11px;
	}
}
@media screen and (max-width: 360px) {
  /* About page */
	.about-skills li {
		width: 31.5%;
	}
	.views-row {
    width: 100%;
	}
}
@media screen and (max-width: 320px) {
  /* Contact page */
	#block-block-1 li {
		float: left;
		font-weight: lighter;
		width: 46.33%;
	}
}
